@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Press+Start+2P|Saira+Stencil+One|VT323&display=swap');

BODY{
    background-color: #FFFFFF;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
}
#banner {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    width: 100vw;
    height: 7vh;
    margin-right: 20px;
}
#banner_title {
    position: relative;
    float: left;
    top: -1vh;
    left: 2vw;
    font-family: 'Saira Stencil One', cursive;
    font-size: 6vh;
}
#tuto A:link {
    color: #3282EC;
    text-decoration: none;
}
#tuto A:visited {color: #3282EC;}
#tuto A:hover {color: #3282EC;}
#tuto {
    position: relative;
    float: left;
    width: auto;
    color: #3282EC;
}
#go {
    position: relative;
    float: left;
    width: auto;
    color: #F04862;
}
#go A:link {
    color: #F04862;
    text-decoration: none;
}
#go A:visited {color: #F04862;}
#go A:hover {color: #F04862;}

#info {
    position: relative;
    float: right;
    right: 3vw;
    top: 1vh;
    font-family: 'VT323', monospace;
    font-size: 4vh;
    color: #909090;
}
#info A:link {
    color: #909090;
    text-decoration: none;
}
#info A:visited {color: #909090;}
#info A:hover {color: #727272;}


section {
    height: 100vh;
    background: #FFFFFF;
    color: #FFFFFF;
    /*line-height: 100vh;*/
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 5vh;
}

.live_mobile_img {
    flex: none;
    background-image: url("./img/TutoGO-v021-demonstration-online.gif");
    background: #FFFFFF;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
/*.live_mobile_img iframe{
    position: absolute;
    background: #FFFFFF;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -99;
    pointer-events: none;
    width: 100%;
    height: 100%;
}*/

.g_word {
    display: flex;
    flex-wrap: wrap;
    background: -webkit-linear-gradient(90deg,rgba(50, 131, 236, 0.5),rgba(240, 72, 97, 0.5));
    background: -o-linear-gradient(90deg,rgba(50, 131, 236, 0.5),rgba(240, 72, 97, 0.5));
    background: -moz-linear-gradient(90deg,rgba(50, 131, 236, 0.5),rgba(240, 72, 97, 0.5));
    background: linear-gradient(90deg,rgba(50, 131, 236, 0.5),rgba(240, 72, 97, 0.5));
    background-repeat:no-repeat;
}
.l_word {
    background-color: none;
    position: relative;
}
.r_word {
    background-color: none;
    position: relative;
}
.l_word img,
.r_word img {
    flex: none;
}
@media (max-width: 1900px){
    .l_word, .r_word{
        width: 62.5%;
    }
    .l_word img, .r_word img{
        width: 100%;
    }
}
