@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Press+Start+2P|Saira+Stencil+One|VT323&display=swap');

BODY{
    background-color: #FFFFFF;
    overflow-x: hidden;
    margin: 0%;
    padding: 0%;
}
#banner {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    width: 100vw;
    height: 7vh;
    margin-right: 20px;
}
#banner_title {
    position: relative;
    float: left;
    top: -1vh;
    left: 2vw;
    font-family: 'Saira Stencil One', cursive;
    font-size: 6vh;
}
#tuto A:link {
    color: #3282EC;
    text-decoration: none;
}
#tuto A:visited {color: #3282EC;}
#tuto A:hover {color: #3282EC;}
#tuto {
    position: relative;
    float: left;
    width: auto;
    color: #3282EC;
}
#go {
    position: relative;
    float: left;
    width: auto;
    color: #F04862;
}
#go A:link {
    color: #F04862;
    text-decoration: none;
}
#go A:visited {color: #F04862;}
#go A:hover {color: #F04862;}

#info {
    position: relative;
    float: right;
    right: 3vw;
    top: 1vh;
    font-family: 'VT323', monospace;
    font-size: 4vh;
    color: #909090;
}
#info A:link {
    color: #909090;
    text-decoration: none;
}
#info A:visited {color: #909090;}
#info A:hover {color: #727272;}


section {
    height: 100vh;
    background: #FFFFFF;
    color: #FFFFFF;
    /*line-height: 100vh;*/
    font-family: 'VT323', monospace;
    text-align: center;
    font-size: 5vh;
}

.live_mobile_img {
    background-image: url('./img/tutogo.png');
    background: #FFFFFF;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
.live_mobile_img img{
    position: fixed;
    top: 20vh;
    left: 30vw;
}
.g_word {
    position: relative;
    top: 5vh;
    background: -webkit-linear-gradient(90deg,#8ebefd,#fda2b0);
    background: -o-linear-gradient(90deg,#8ebefd,#fda2b0);
    background: -moz-linear-gradient(90deg,#8ebefd,#fda2b0);
    background: linear-gradient(90deg,#8ebefd,#fda2b0);
    background-repeat:no-repeat;
}
.l_word {
    position: absolute;
    top: 10vh;
    left: 30vw;
    background-color: none;
    position: relative;
}
.r_word {
    position: absolute;
    top: 10vh;
    right: 30vw;
    background-color: none;
    position: relative;
}

