@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text|Press+Start+2P|Saira+Stencil+One|VT323&display=swap');

body {
    width:200px;
    height:150px;
    background: -webkit-linear-gradient(90deg,rgba(50, 131, 236, 0.5),rgba(240, 72, 97, 0.5));
    background: -o-linear-gradient(90deg,rgba(50, 131, 236, 0.5),rgba(240, 72, 97, 0.5));
    background: -moz-linear-gradient(90deg,rgba(50, 131, 236, 0.5),rgba(240, 72, 97, 0.5));
    background: linear-gradient(90deg,rgba(50, 131, 236, 0.5),rgba(240, 72, 97, 0.5));
}
#banner {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    width: 100vw;
    height: 7vh;
    margin-right: 20px;
    box-shadow: 10px 0px 20px rgb(160, 160, 160);
}
#banner_title {
    position: relative;
    float: left;
    top: -1vh;
    left: 2vw;
    font-family: 'Saira Stencil One', cursive;
    font-size: 6vh;
}
#tuto A:link {
    color: #3282EC;
    text-decoration: none;
}
#tuto A:visited {color: #3282EC;}
#tuto A:hover {color: #3282EC;}
#tuto {
    position: relative;
    float: left;
    width: auto;
    color: #3282EC;
}
#go {
    position: relative;
    float: left;
    width: auto;
    color: #F04862;
}
#go A:link {
    color: #F04862;
    text-decoration: none;
}
#go A:visited {color: #F04862;}
#go A:hover {color: #F04862;}

#info {
    position: relative;
    float: right;
    right: 3vw;
    top: 2vh;
    font-family: 'Libre Barcode 128 Text', cursive;
    font-size: 4vh;
    color: #909090;
}
#info a:link {
    color: #909090;
    text-decoration: none;
}
#info A:visited {color: #909090;}
#info A:hover {color: #727272;}

#middle {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0px;
    width: 100vw;
    height: 90vh;
}
#game {
    flex: none;
    width: 100vw;
    height: 80vh;
}
#game canvas{
    position: absolute;
    z-index: 0;
}
#muteBtn {
    position: absolute;
    z-index: 1;
    margin: 0.5vw;
}
@media (max-width: 1500px){
    #game {
        width: 60%;
    }
    #game canvas{
        width: 100%;
    }
}
@media (max-width: 750px ){
    #game {
        width: 60%;
    }
    #game canvas{
        width: 90%;
    }
}
